/**
 * Author: Hearken Media
 * License: GNU General Public License version 2 or later
 * License URI: http://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html
 */
 #hm_psr_report_field_selection label {
	display: block;
	margin-bottom: 5px;
	white-space: nowrap;
}